.container{
  min-height: calc(100vh - 30px);
}
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 90%;
    display: block;
    margin: auto;
  }
  .card {
    width: 100% !important;
  }
  .form-group {
    width: 100% !important;
    position: relative !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .input .pagination .row {
    width: 100% !important;
  }
  .pagination .next-btn {
    margin-left: 0% !important;
    float: right !important;
  }
  .form-control:focus {
    outline: none !important;
    border: 1px solid #333333 !important;
  }
  header {
    display: block !important;
  }
  header .logo {
    display: block !important;
    margin: auto !important;
  }
  header .login-btn {
    display: block !important;
    margin: auto !important;
    margin-top: 20px !important;
    width: 30% !important;
    text-align: center;
  }
  header .user-loggedin {
    width: 100% !important;
    text-align: center !important;
    margin-top: 20px !important;
  }
  .login-card {
    width: 95% !important;
  }
}
